.null{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ul{
    margin: 0;
    padding: 1rem;
}
.button{
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 2rem;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}
.Bookmark{
    display: flex;
    flex-direction: column;
    align-items: center;
}