.cardWrap{
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgb(195, 195, 195);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}
.logout{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: transparent;
    color: rgb(107, 107, 107);
    font-size: 1.2rem;
    cursor: pointer;
}
.logout:hover{
    color: #999;
    transform: scale(1.04);
}
.profileWrap{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.photo{
    border-radius: 50%;
    width: 5rem;
}
.nameWrap{
    margin-left: 1rem;
    font-size: 1.2rem;
}
.name{
    font-size: 1.2rem;
    margin: 0 1rem 0 1rem;
    font-weight: bold;
}
.buttonWrap{
    position: absolute;
    bottom: 1rem;
    right: 0;

}
.button{
    border: none;
    margin-right: 0.5rem;
    background-color: transparent;
    color: rgb(255, 132, 0);
    font-size: 1.4rem;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.05);
    color: rgb(255, 170, 0);
}