.li{
    list-style: none;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgb(195, 195, 195);
    padding: 1rem;
    border-radius: 1rem;
}
.liWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.img{
    min-width: 13rem;
    max-width: 13rem;
    max-height: 7rem;
    min-height: 7rem;
}
.title{
    font-size: 0.9rem;
}
.channelName{
    font-size: 0.8rem;
}
.date{
    font-size: 0.7rem;
}
.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.button:hover{
    color: #999;
}