.textArea{
    height: 3rem;
    width: 70%;
    outline: none;
    border: none;
    /* box-shadow: 3px 3px 3px 3px rgb(195, 195, 195); */
    position: relative;
}
.modal{
    display: flex;
}
.button{
    border: none;
}
.popup{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.634);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 0 5 0 5;
}