.li{
    list-style: none;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 3px 3px rgb(195, 195, 195);
    padding: 0.6rem;
    border-radius: 1rem;
    cursor: pointer;
    z-index: 1;
}
.li:hover{
    transform: scale(1.02);
}
.buttons{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 2;
}
.img{
    width: 40%;
    max-height: 100px;
    margin-right: 1rem;
}
.desWrap{
    width: 60%;
}
.title{
    font-size: 0.9rem;
}
.channelName{
    font-size: 0.8rem;
}
.date{
    font-size: 0.7rem;
}
.button{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #999;
}
.icon{
    pointer-events: none;
}
