.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.item{
    display: flex;
    align-items: center;
    width: 10rem;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 1rem;
    
}
.button{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}