.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.item{
    display: flex;
    align-items: center;
    width: 10rem;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 1rem;
}
.item:hover{
    background-color: rgb(171, 171, 171);
}
.button{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.loginImage{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.img{
    width: 15rem;
    background-image: url('/public/images/diary.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20rem;
}
.loginP{
    font-size: 0.9rem;
    font-weight: 100;
}
.lodinh4{
    margin: 0;
    font-size: 1.2rem;
}
.loginTitle{
    font-size: 0.9rem;
}
.ulWrap{
    width: 20rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgb(195, 195, 195);
    border-radius: 1rem;
}